<template>
  <require from="components/controls/toggle-control"></require>
  <div class="row">
    <div class="col s12">
      <h3>DEBUG</h3>

      <div class="row pad-top">
        <div class="col s12">
          <ul class="list-unstyled">
            <li>
              <a href="#/settings/client-information">Client information</a>
            </li>
            <li>
              <a href="">Network traffic</a>
            </li>
            <li>
              <a href="#/settings/peers">Peers</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
