<template>
  <require from="resources/rate-value-converter"></require>
  <require from="routes/balances/components/wallet-details"></require>
  <h3>MY WALLET</h3>
  <wallet-details wallet.bind="wallet"></wallet-details>

  <div class="row" if.bind="wallet">
    <div class="col s4">
      <strong>Channels</strong>
    </div>
    <div class="col s5">
      <strong>Ł ${wallet.balance}</strong>
    </div>
    <div class="col s3">
      <span>($${wallet.balance | rate: 'usd'})</span>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <span>Pending</span>
    </div>
    <div class="col s5">
      <span>Ł ${wallet.unconfirmed_balance}</span>
    </div>
    <div class="col s3">
      <span>($${wallet.unconfirmed_balance | rate: 'usd'})</span>
    </div>
  </div>
</template>
